.App {
  text-align: center; /* Center the text inside */
  min-height: 100vh; /* Make the container at least the full height of the viewport */

  /* Flexbox magic for perfect centering */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1 {
  font-size: 3rem; /* Make the title larger */
  margin-bottom: 2rem; /* Add some space below the title */
  font-weight: 700; /* Bolder font weight */
}